/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*----------------------------------------------------------common section-------------------------------------*/


body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
h1{
  font-size: 64px;
  padding-bottom: 20px;
}



.container{
  
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    width:870px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.anchor-button{
  text-decoration: none;
  background: linear-gradient(45deg, yellow, aqua);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  transition: width 2s;
}

.anchor-button:hover{
  background: linear-gradient(45deg, aqua,black);
  padding: 10px 30px;
}
/*--------------------------------------common section end -------------------------------------------------------*/



/*----------------------------------------------------------header section-------------------------------------*/
.first-section{
  background-color:#2D25A0;
  margin-bottom: 70px;
  width: 100%;
}


.cover{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 padding: 56px;
  
}
.cover:hover{
  background-color:cornflowerblue;
}


.anmi{
  position: absolute;
  left: 120px;
  top: 155px;
  height: 250px;
  width: 10px;
  /* background-color: #E02C6D; */
}
/*
.first-section:hover .cover .cover-taitle .anmi{
  background-color: #E02C6D;
  /* transform: rotate(80deg); 
  transform: translate(520px);
  transition: transform 5s;
 
}*/





.cover-taitle{
 padding: 90px;
}

.cover-taitle h1{
  margin: 0%;
  font-size: 60px;
  font-weight: 5000;
  color: white;
}


.cover .cover-image img{
  height: 438px;
width: 556px;
}



/*----------------------------------------------------------header section end-------------------------------------*/



/*----------------main section----------------------*/


/*player section*/


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    padding: 16px;
    width: 237px;
    box-shadow:0px 5.34229px 13.3557px lightseagreen;
    border-radius: 15px;
}
.player :hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius:20px;
}
.player .player-banner img{
    width: 100%;
    height: 100%;
}
.player-detail h3{
  text-align: center;
}

.player-detail p{
  text-align: justify;
}

/*blog*/
h2{
  color:coral;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog  img{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
    color: #562EFF;
}

.thumbnail :hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius:20px;
}





/*write us  section*/

/*
.second-section{
    height: 500px;
    padding-bottom: 150px;
    
}
.second_section_h1{
    font-weight: 700;
    font-size: 64px;
    color:black
      
}
.half-width2{
    width:40%;
    float: left;
    margin-top: 100px;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width2 img{
    width:567px;
    height: 427px;
}
.half-width2 p{
    padding-bottom: 20px;
}
*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid yellow;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}




.container1 {
    width: 93%;
  border-radius: 5px;
  background-color: bisque;
  padding: 20px ;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  
}

.second-section{
  
    height: 500px;
    padding-bottom: 75px;

    

}
.container1 input[type="submit"]{


  height: 45px;
     width: 100%;
     outline: none;
     color: #d9d9d9;
     background: #000;
     border-radius: 5px;
     padding-left: 10px;
     font-size: 17px;
     border: 2px solid #222222;
 
 
 
 
 }
/*footer*/

footer{
    width: 100%;
    
    bottom: 0;
    left: 0;
    background: #111;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #eb2f06;
  }
  footer .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }

  .left_box img{
      width: 50%;
  }


  /*responsive*/
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:688px){
    footer{
      position: relative;
      overflow: hidden;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }


  /* Mobile Devices */

  @media only screen and (max-width:600px) {
    .cover{
       grid-template-columns: repeat(1, 1fr);
       padding: 28px;
    }  

    .cover .cover-image img{   
    width: 100%;
    height: 100%;
    padding-left: 0px;
    }
    
@media only screen and (max-width:688px) {
  .container{
      width: 100%;
  }
  .cover-taitle {
    padding: 53px;
}
  .players, .blogs{
      grid-template-columns: repeat(1, 1fr);
  }

  .player-detail .blog h3
  { 
     width: 80%;
   }

   .player-detail .blog p{
    width: 80%;
   }
   
  .player, .blog{
      flex-direction: column;
  }
}
/*
@media only screen and (max-width:692px) {
  .container{
      width: 100%;
  }
  .players, .blogs, .courses{
      grid-template-columns: repeat(1, 1fr);
  }
  .player, .blog{
      flex-direction: column;
  }
}
*/





  @media screen and (max-width: 688px) {
   .col-75 {
      width: 100%;
     
    }
  .container1{
    width: 100%;
    margin-left:0px;
  }


@media only screen and (max-width:688px) {
  main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    align-items: flex-start
   
}
}
@media only screen and (max-width:688px) {
  .anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, yellow, aqua);
   width: 20%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  }
}



